    .bck{
        background: url(/assets/bg.jpg) no-repeat center;
        min-height: 1000px;
        background-size: cover;
    }
    
    @media(min-height:1300px){
        .bck{
            min-height: 1500px;
        }
    }
    .dark{
        filter: invert(1) hue-rotate(180deg);
    }
